<div class="login-page">
  <button style="position:fixed;left: 10px; " type="button" class="btn btn-success">Register</button>
  <login-cmp>Login</login-cmp>
  <li role="presentation" [routerLinkActive]="['is-active']">
    <a [routerLink]="['/login']"></a>
  </li>


<div style="visibility: hidden">
  <!-- Aquí comienza el register -->
  <register-cmp></register-cmp>
  <li role="presentation" [routerLinkActive]="['is-active']">
    <a [routerLink]="['/register']"></a>
  </li>
</div>

</div>

<section class="main-container">
  <router-outlet></router-outlet>
</section>

<!--
<a [routerLink]="['/login']" [routerLinkActive]="['is-active']"><login-cmp></login-cmp></a>
<div class="al-main">
  <div class="al-content">
    <router-outlet></router-outlet>
  </div>
  <a routerLink='/login'>
    <login-cmp></login-cmp>
  </a>
</div>
-->
