<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-default">
        <div class="row">
          <div class="col-xs-9">
            <h2>{{selectedUser?.name}} <small>{{selectedUser?.description}}</small></h2>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary" [routerLink]="['edit']"><i class="fa fa-edit"></i> Edit</a>
            <a class="btn btn-danger" (click)="onDelete(user_id)"><i class="fa fa-remove"></i> Remove</a>
          </div>
        </div>
      </div>
      <div class="card-block">
        <h3>{{selectedUser?.name}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-default">
        <h3>Routines</h3>
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of selectedUser?.diets">
            <i class="fa fa-tag"></i> {{item.tag}}: {{item.diets}}
            <p *ngIf="item._id == selectedUser.diets.description">
              DEFAULT
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-default">
        <h3>XID's</h3>
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of selectedUser?.routines">
            <div class="input-group">
              <i class="fa fa-tag"></i> {{item.tag}}: {{item.routines}}
              <p *ngIf="item._id == selectedUser.routines.description">
                DEFAULT
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
